<!DOCTYPE html>
<html>
  <head>
    <title>MoneyManageerApp</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body style="margin: 0; font-family: sans-serif;">
    <div style="display; fiex; height 100vh;">
      <!-- 左ペイン -->
      <div style="width: 200px; background: #f0f0f0">
        <h3>メニュー</h3>
        <ul style="list-style: none; padding: 0;">
          <li><%= link_to "トップ（取引一覧）", transactions_path %></li>
          <li><%= link_to "取引を追加", new_transaction_path %></li>
          <li><%= link_to "カテゴリ追加", categories_path %></li>
        </ul>
      </div>

      <!-- メイン画面 -->
      <div style="flex-grow: 1; padding: 20px;">
        <% if notice %>
          <p style="color :green;"><%= notice %></p>
        <% end %>

        <% if alert %>
          <p style="color: red;"><%= alert %></p>
        <% end %>

        <%= yield %>
      </div>
      
    </div>  
  </body>
</html>
